:root {
    --font-main: 'Karla', sans-serif;
    --font-secondary: 'Cormorant Garamond';
    --color-background: #242422;
    --color-primary: #84e310;
    --color-secondary: #10e372;
}

html {
    font-size: 100%; /*Accessibility thing, respects users preferences, 16px by default*/
}

body {
    font-family: var(--font-main);
    font-size: 1.2rem; 
    line-height: 1.45;
    color: var(--color-primary);
    background-color: var(--color-background);
    text-align: center;
}

.highlight {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-style: italic;
    color: var(--color-secondary)
}

h1 {
    font-size: 4.6rem;
    line-height: 1.2;
}

h2 {
    font-size: 2.6rem;
    margin-top: 5rem;
    margin-bottom: 0.3rem;
}

p {
    font-family: var(--font-secondary);
}

/* Nav bar header: */

.header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo svg {
    height: 1.3rem;
    padding-left: 2rem;
    padding-top: 0.7rem;
    fill: var(--color-primary);
}

.links {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.links a {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 1rem; /* Space between individual items */
}

.links a:hover {
    color: var(--color-secondary);
    transition: color 0.2s ease-in-out;
}

/* General block styling */

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Centering block element itself */
    width: 80%; /* Later remake to max width limit with media responsive width */
    height: fit-content;
}

.block p {
    margin-top: 2.6rem;
    width: 60%; /* Aesthetic decision */
}

/* About section */

#about h1 {
    margin-top: 1.2rem;
    margin-bottom: 0.1rem;
}

/* Projects section */

.gallery {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-content: center;
    margin: 2rem;
}

.gallery-item {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.gallery-item p {
    width: auto;
}

/* Contact info: */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials-icons {
    display: inline-flex;
    margin-top: 1.6rem;
    gap: 1rem;
}

.socials-icons img {
    width: 1.6rem;
    padding: 0.5rem;
}

/* Footer: */

footer {
    margin-top: 6rem;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
}